@media (max-width: 1401px) {

    .servicos-card{
        text-align: center;
        border-radius: 1vw;
        background-color: white;
        width: 25%;
        padding: 0vh 0vh 7vh 0vh;
        transition: .3s;
        margin: 0vh 2vh;
    }

    .servicos-card div{
        padding: 1vh 1.5vh 1vh 1.5vh;
    }
    
    .servicos-card div a{
        font-size: 15px;
        font: var(--fonte-principal);
        color: var(--cinza-principal);	
    }
    
    .servicos-card #saiba{
        font: var(--fonte-principal);
        color: rgb(165, 165, 165);
        font-size: 15px;
    }

    footer{
        height: 35vh;
        background-color: var(--cinza-escuro);
    }

}

@media  (max-width: 420px) {
    /* MENU */

    body{
        overflow-x: hidden;
    }

    .logo-cantoni{
        width: 60%; 
    }
    .menu-abas{
        position: absolute;
        top: 6vh;
        right: 0vw;
        width: 30vw;
        height: 22vh;
        background-color: var(--cinza-escuro);
        flex-direction: column;
        align-items: center;
        display: none;
        justify-content: space-evenly;
        transition: transform 0.3s ease-in ;
    }

    .menu-abas-items{
        padding: 0;
    }

    .menu-abas.active{
        display: flex;
    }
    
    .contatar a{
        background-color: var(--vermelho);
        padding: 0.2em 0.5em;
        border-radius: 0.5em;

    }

    .mobile-menu{
        margin-right: 1.5vh;
        display: block;
    }

    .mobile-menu div{
        transition: .3s;
    }

    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-7px, 7px);
    }

    .mobile-menu.active .line2{
        opacity: 0;
    }

    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-4px, -6px);
    }

    /* PRIMEIRA ABA DO SITE - BANNER */

    .banner{
        height: 88vh;
        background: url(img/banner-mobile.png) bottom / contain no-repeat #323232;
        display: flex;
        justify-content: center;
		align-items: flex-start;
		padding-top: 5vh;
    }

    .banner-textos{
        text-align: center;
        width: 90%;
        padding-left: 0vw;
        font-family: var(--fonte-principal);
        color: white;
    }

    .banner-titulo {
        font-weight: 400;
        font-size: 7.5vw;
        padding: 1em 0 2em 0;
    }
    
    
    
    .banner-botao{
        padding: 2vw 25vw;
        background-color: var(--vermelho);
        color: white;
        text-decoration: none;
        font-size: 4.5vw;
        border-radius: 0.5em;
        
    }

    /* SEGUNDA ABA DO SITE - SOBRE*/


    .sobre{
        display: flex;
		flex-direction: column;
        align-items: center;  
        padding: 6vh 3vw 10vh 3vw;
        transition: .2s;
    }

    .sobre-texto {
        font-family: var(--fonte-principal);
        font-size: 3vw;
        font-weight: 200;
        line-height: 160%; 
        width: 85vw;
    }
	
	.sobre-imagem{
		margin-top: 10vh;
		width: 60vw;
		transform: rotate(45deg);
		box-shadow: #3a3a3a26 0px 5px 20px;
}

    /* TERCEIRA ABA DO SITE - SERVIÇOS */

    .servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #323232;
        color: white;
        font-family: var(--fonte-principal);
        padding: 5vh 6vw;   
    }

    .servicos h3 {
        font-size: 5vw;
        padding-bottom: 2vh;
    }

    .servicos-row{
        display: none;
    }

    .servicos-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .servicos-card{
        margin-top: 4vh !important;
        text-align: center;
        border-radius: 1.5vw;
        background-color: white;
        width: 100%;
        padding: 0vh 0vh 3vh 0vh;
        transition: .3s;
        margin: 0;
    }

    .servicos-card div{
        padding: 1vh 0.5vh 1vh 0.5vh;
    }
    
    .servicos-card div a{
        font-size: 18px;
        font: var(--fonte-principal);
        color: var(--cinza-principal);	
    }
    
    .servicos-card #saiba{
        font: var(--fonte-principal);
        color: rgb(165, 165, 165);
        font-size: 16px;
    }

    /*CARD*/

.modal_container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal_container.mostrar{
    display: flex;
}


.card{
    background-color: white;
    width: 80%;
    min-width: 42.5%;
    border-radius: 10px;
    position: relative;
	padding: 1vh;
}

@keyframes card {
    from {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar.card{
    animation: card .4s;
}

.card .fechar{
    position: absolute;
    top: -16px;
    right: -15px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    font-weight: 500;
    background-color: #5E5E5E;
    color: white;
}

.card .fechar:hover{
    background-color: #969696;
    color: white;
}

.card h3{
	text-align: center;
    padding: 1.5vh;
    font-size: 17px;
    font: var(--fonte-principal);
}

.card p{
	font-size: 14px;
	padding: 1.5vh;
    font: var(--fonte-principal);
}


.card ul li{
	font-size: 15px;
	padding-left: 2.5vh;
}

/* QUARTA ABA DO SITE - CONTATOS */	


    .contato{
     flex-direction: column;
	 align-items: center;
     padding: 5vh 1vw;
	 
    }

    .contato-formulario, .contato-informacoes{
     width: 85vw;
     padding: 3vh 4vw;
	 margin-bottom: 2vh;
	 border-radius: 3vw;
	
 	
    }

	.contato-formulario h3, .contato-informacoes h3{
	font-size: 5vw;
	
	}	

	.contato-informacoes h3{
		border-bottom: 0.3vw red solid;
		width: 50%;
	}
	
    .contato-formulario-campos-input{
        padding: 1.5vh;
        font-size: 3vw;
             
    }

    .contato-formulario-campos-botao{
        border-radius: 2vw;
        font-size: 4vw;
        margin-top: 1vh;
    }


    .contato-informacoes-lista li{
        display: flex;
        padding: 1vh 0vw;
    }

    .contato-informacoes-lista li p {
        font-family: var(--fonte-principal);
        font-size: 3.5vw;
        padding: 1vh 1vh;
    }

	.contato-informacoes-lista img{
		width: 7%;	
	}
	
    .contato-socialicons{
        margin-top: 2vh;
    }

    .contato-socialicons .fa-brands{
        color: white;
        font-size: 1.8vw;
        padding: 0.7vw;
        background-color: #cf2728;
        border-radius: 50%;
        margin: 1vh 0.5vw;
    }

    /* QUINTA ABA DO SITE - RODAPE */	

    footer{
        height: 28vh;
        background-color: var(--cinza-escuro);
    }

    footer .rodape{
        display: flex;
		padding: 5vh 6vw;
		flex-direction: column;
    	align-items: center;
    }

    .icon-rodape{
   	  gap: 5vw;
    }
    
    .rodape-items{
        padding-left: 2vw;
    }
    
}


@media  (max-width: 376px) {
    .banner{
        height: 107vh;
    }

    footer{
        height: 32vh;
        background-color: var(--cinza-escuro);
    }
}
